/*使用keyframes自定义一个动画(用户点击时导航条上下抖动)*/
@-webkit-keyframes bounce{
	0%{-webkit-transform: translateY(0);}
	100%{-webkit-transform: translateY(-20px);}
}
@-moz-keyframes bounce{
	0%{-webkit-transform: translateY(0);}
	100%{-webkit-transform: translateY(-20px);}
}
@-o-keyframes bounce{
	0%{-webkit-transform: translateY(0);}
	100%{-webkit-transform: translateY(-20px);}
}
@-ms-keyframes bounce{
	0%{-webkit-transform: translateY(0);}
	100%{-webkit-transform: translateY(-20px);}
}
@keyframes bounce{
	0%{-webkit-transform: translateY(0);}
	100%{-webkit-transform: translateY(-20px);}
}
/*用户点击出发抖动*/
.dock li:target a{
	-webkit-animation: bounce .3s 6 alternate ease-out;
	-moz-animation: bounce .3s 6 alternate ease-out;
	-o-animation: bounce .3s 6 alternate ease-out;
	-ms-animation: bounce .3s 6 alternate ease-out;
	animation: bounce .3s 6 alternate ease-out;
}
/*给点击的导航项底部添加一个圆点,表示被选择*/
.dock li a:after{
	content:" ";
	position:absolute;
	bottom:-5px;
	left:35%;
	width: 5px;
	height: 5px;
	background-color: rgba(255,255,255, .8);
	margin-left: 10px;
	border-radius: 5px;
	opacity: 0;
	box-shadow: 
	inset 0 1px 3px rgba(75,255,255, .4),
	0 0 4px rgba(77,255,255, .5),
	0 -1px 7px rgb(75,255,255);
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}
.dock li:target a:after{
	opacity: 1;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}
/*鼠标悬浮时图标放大,并显示信息*/
/*tooltips效果*/
.dock em{
	position:absolute;
	top:-20px;
	left:50%;
	display: none;
	width: 150px;
	margin-left:-75px;
	text-align:center;
}
.dock em:after{
	content: " ";
	position:absolute;
	top:100%;
	left:50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-top:6px solid rgba(0,0,0, .6);
	border-bottom:none;
}
.dock em span{
	display: inline-block;
	padding: 5px 12px;
	font-size: 14px;
	font-size: 14px;
	font-style: normal;
	color: #fff;
	background:rgba(0,0,0, .6);
	text-shadow:1px 1px 1px rgba(0,0,0, .9);
	border-radius: 12px;;
}
.dock li:hover em,
.dock li a:hover em{
	display: block;
}
.dock img{
	width: 86px;
	height: auto;
	-webkit-transition: width .2s,height .2s;
	-moz-transition: width .2s,height .2s;
	-o-transition: width .2s,height .2s;
	-ms-transition: width .2s,height .2s;
	transition: width .2s,height .2s;
}
.dock li:hover img,
.dock li a:focus img{
	width:96px;
}
.dock li:active img{
	opacity: .8;
}
/*制作导航项底部效果*/
.dock-container{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.dock-panel{
	width: 560px;
	height: 100px;
	background:-webkit-linear-gradient(to bottom,#eee 0%,#eee 28%,#bbb 51%,#bbb 100%);
	background:linear-gradient(to bottom,#eee 0%,#eee 28%,#bbb 51%,#bbb 100%);
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-o-backface-visibility: visible;
	-ms-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: perspective(800px) rotate3d(1,0,0,50deg);
	-moz-transform: perspective(800px) rotate3d(1,0,0,50deg);
	-o-transform: perspective(800px) rotate3d(1,0,0,50deg);
	-ms-transform: perspective(800px) rotate3d(1,0,0,50deg);
	transform: perspective(800px) rotate3d(1,0,0,50deg);
	position: relative;
	left: 50%;
	margin-left: -280px;
	bottom: -100px;
}
