body{
	margin:0;
	padding:0;
	font:normal 14px/1.5em "PT Sans",helvetica,arial,sans-serif;
	background: :rgb(30,30,30);
	color:rgb(220,220,220);
}
.wrapper{
	position:absolute;
	top: 48%;
	left:50%;
	width: 660px;
	height: 340px;
	margin: -190px 0 0 -330px;
}
.content{
	position: relative;
	width: 660px;
	height: 340px;
	overflow: hidden;
	background:rgb(15,15,15) url(../img/bg.jpg) no-repeat center bottom;
	border-radius: 10px;
	box-shadow: 0px 1px 5px rgb(255,160,55), 0px 1px 15px rgb(255,160,55);
}
h1{
	margin-top: 1.2em;
	color:rgba(255,255,255, .9);
	line-height: 0.6;
	font-size: 70px;
	text-align:center;
	font-weight: bold;
	text-shadow: 0px 1px 5px rgb(255,160,55), 0px 1px 15px rgb(255,260,55);
}
.dock{
	position: absolute;
	bottom: 0;
	z-index: 10;
	width: 100%;
	text-align:center;
	font:normal 14px/1em "lucida grande",arial,sans-serif;
}
.dock ul{
	position: relative;
	display: inline-block;
	padding:0 5px;
	margin:0;
	list-style-type: none;
}
.dock li{
	display: inline-block;
	position:relative;
	margin:0 1px;
	margin-bottom: 15px;
	vertical-align:baseline;
	/*在webkit下实现导航项翻转倒影效果*/
	-webkit-box-reflect: below -16px -webkit-gradient(
	linear,left top,left bottom,
	from(transparent),
	color-stop(91%,rgba(255,255,255, .1)),
	color-stop(91.01%,transparent),
	to(transparent)
	);
}
.dock a{
	display: inline-block;
	cursor:pointer;
	outline: none;
}